# Following lines are the recommended configuration for Apache Server to
# - disable caching html files
# - enable gzip compression
# 
# This files should be loaded automatically by Apache Server.
#
# More information: https://www.shapespark.com/docs#self-hosting

RewriteEngine On
<FilesMatch "^(index\.html|cover\.json)$">
  Header set Cache-Control "no-store, no-cache, must-revalidate, max-age=0"
</FilesMatch>

AddType application/x-buf .buf
AddType application/x-basis .basis
AddType image/bmp bmp;
AddType application/json json;
AddType image/svg+xml svg;
AddType image/x-icon  ico;
AddType image/webp    webp;

AddOutputFilterByType DEFLATE text/plain
AddOutputFilterByType DEFLATE text/html
AddOutputFilterByType DEFLATE text/css
AddOutputFilterByType DEFLATE application/javascript
AddOutputFilterByType DEFLATE application/x-javascript
AddOutputFilterByType DEFLATE application/json
AddOutputFilterByType DEFLATE application/x-buf
AddOutputFilterByType DEFLATE image/bmp
AddOutputFilterByType DEFLATE image/svg+xml
AddOutputFilterByType DEFLATE image/x-icon
